html,
body {
    overflow-x: hidden;
}
body {
    padding-top: 20px;
    padding-bottom: 50px;
}
footer {
    padding: 30px 0;
}

tbody .progress {
    margin-bottom: 0;
    height: 50px;
}

thead .progress {
    margin-bottom: 0;

    background-image: linear-gradient(90deg, transparent 95%, rgba(0,0,0,0.1) 5%);
    background-size: 23px 100px;
}

.navbar {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.navbar-strip {
    margin-bottom: 0;
    min-height: 6px;
    background-color: gold;
    border: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#current-day {
    margin-top: -20px;
    margin-left: 0px;
    width: 22px;
    border-radius: 0px;
    background-color: darkgray;
    cursor: pointer;
}

.progress-transparent {
    background:transparent !important;
    box-shadow:none !important;
}

.progress-bar {
    border-radius:4px !important;
}

.progress-popover {
    cursor: pointer;
}

.progress-bar-transparent {
    background-color: transparent;
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
}

td {
    vertical-align: middle !important;
}

dl {
    margin-bottom: 10px;
    /* width: 160px; */
}

.dl-horizontal dt {
    width: 70px;
    text-align: left;
}

.dl-horizontal dd {
    margin-left: 80px;
}

//Kolory zada?

/*tr:nth-child(5n+1) .progress-bar:nth-child(even) {
    background-color: #5bc0de; //nieb
}

tr:nth-child(5n+2) .progress-bar:nth-child(even) {
    background-color: #f0ad4e; //pom
}

tr:nth-child(5n+3) .progress-bar:nth-child(even) {
    background-color: #5cb85c; //ziel
}

tr:nth-child(5n+4) .progress-bar:nth-child(even) {
    background-color: #d9534f; //czer
}

div.list-group-item:hover, div.list-group-item:focus {
    background-color: #f5f5f5;
}*/
